:root {
  --main-color: black;
  --main-font: Roboto, sans-serif;
  --background: linear-gradient(-225deg, #bdc9eb 50%, #e9c9e2 50%);
  --active-link-color: red;
  --link-color: #2a363b;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);

  background-image: var(--background);
}

.Container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--link-color);
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: var(--link-color);
}

.activeLink {
  color: var(--active-link-color);
}

.container {
  display: flex;
  align-items: center;

  &avatar {
    margin-right: 4;
  }

  &name {
    font-weight: 700;
    margin-right: 12;
  }
}

.home__container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.form {
  //   width: 320px;
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #8f9ac0 50%, #daa2ce 50%);
}

.form__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head__form {
  margin: 2% auto 10% auto;
  text-align: center;

  &h2 {
    font-size: 250%;
    // font-family: 'Playfair Display', serif;
    color: #3e403f;
  }

  &p {
    letter-spacing: 0.05em;
  }
}

.input__item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}

button {
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;

  &:hover {
    transform: translatey(3px);
    box-shadow: none;
  }
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
