// colors
$primary-text-color: #000000;
$primery-link-color: #2a363b;
$sctive-link-color: #ff0000;
$primary-white-color: #ffffff;
$h1-color: #3e403f;
$input-color: #333;
$background: linear-gradient(-225deg, #bdc9eb 50%, #e9c9e2 50%);

// fonts
$font-family: Roboto, sans-serif;
$size-normal: 14px;
$letter-spacing-normal: 0.03em;
$font-medium: 500;
$font-black: 900;
$font-bold: 700;

// centre
$padding-form-input: 14.5px 0px 15px 9px;
$border-form-input: 5px 5px 5px 5px;
