.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 20px;
  color: #3e403f;
  text-align: center;
}

li {
  list-style-type: none;
}

ul {
  margin: auto;
}

.contact__item__ {
  width: 280px;
  font-weight: 500;
  font-size: 14px;
  color: #3e403f;
  letter-spacing: 0.03em;

  margin-right: 5px;

  color: #333;
}

.form {
  width: 300px;
  min-height: 200px;
  height: auto;
  margin: 2% auto;
  padding: 2%;
}

.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact__button {
  display: block;
  color: #252537;

  width: 100px;
  height: 45px;
  padding: 14.5px 0px 15px 9px;

  background: #fff;
  border-radius: 5px;

  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;

  margin: 7% auto;
  letter-spacing: 0.05em;

  &:hover {
    transform: translatey(3px);
    box-shadow: none;
  }
}
